*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F4F8F7;
}
.containerr{
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.containerr img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.index-p{
    padding: 40px;
    text-align: justify;
}
