html{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.bg-img{
    object-fit: cover;
    height: 600px;
    width: 100vw;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}